body
{
font-family:sans-serif;
}
*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}
.sidebar
{
position:0;
left:0em;
width:100%;
height:100%;
background: black;
margin-top:2em;
margin-bottom:2em;
}
.sidebar ul a{
display:block;
height:100%;
width:100%;
line-height:40px;
font-size:12px;
color:#5da5e4;
padding-left:40px;
box-sizzing:border-box;
border-top:0.5px solid black(0, 0, 0, 0);
border-bottom:0.5px solid black;
transition:.4s;
}
ul li:hover a.de{
padding-left:50px;
color:blue;
background-color:black;
}
.sidebar ul a.de i{
margin-right:16px;
}
.left
{
padding-left:5em;
}
.bg
{
background-color:white;
}