*
{
margin:0;
padding:0;
}
#wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 20px 0 20px;
    position: relative;
}
body
{
background:#f1f1f1;
}
.left-menu
{
width:20%;
background-color:#f1f1f1;
}
#full
{
padding:20px;
color: white;
}
.vr-nav
{
width:20%;
margin:0;
padding:0;
list-style-type:none;
position:fixed;
background-color:#f1f1f1;
text-align:center;
overflow:hidden;
height:100%;
}
vr.li a
{
display:block;
color:#fff;
padding:10px 10px;
text-decoration:none;
border-bottom:1px solid;
font-size:12px;
font-family:sans-serif;
}