body{
font-family:sans-serif;
background:#fafafa;
}
p
{
font-family:sans-serif;
font-size:1.1em;
font-weight:300;
line-height:1.7em;
color:#999;
}
a,
a:hover,
a:focus
{
color:inherit;
text-decoration:none;
transition: all 0.3s;
}

.wrapper
{
display:flex;
text-decoration:none;
transition: all 0.3s;
}
#sidebar
{
min-width:250px;
max-width:250px;
background:#000000;
color:#ffffff;
transition: all 0.3s;
}
#sidebar.active
{
margin-left:-250px;
}
#sidebar .sidebar-header
{
padding:20px;
background:#000000;
}
#sidebar ul.components
{
padding:20px o;
border-bottom:1px solid #fff;
}
#sidebar ul p{
color:#fff;
padding:10px;
}
#sidebar ul li a{
padding:10px;
font-size:1.1em;
display:block;
}
#sidebar ul li a:hover
{
color:blue;
background:#000000;
}
#sidebar ul li.active>a,
a[aria-expanded="true"]{
color:#fff;
background:#6d7fcc;
}
a[data-toggle="collapse"]{
position:relative;
}
#content
{
max-width:100%;
max-height:100%;
padding:20px;
min-height:100vh;
transition: all 0.3s;
}
@media (max-width: 768px){
#sidebar {
marign-left:-250px;
}
#sidebar.active {
margin-left:0;
}
#sidebarCollapse span {
display: none;
}
}