@media only screen and (max-width: 600px) {
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1{
  color: rgb(0, 4, 7);
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
summary{
    color: white;
    background-color: #2196F3;
    border: 4px solid #2196F3;
    padding-left: 43%;
}
  span{
    background-color:#dfe7ec;
    margin: 0px 40px;
    padding: 3px 25px;
  }
