@media only screen and (max-width: 600px) {
    
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1{
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
summary{
    color: white;
    padding: 8px;
    background-color: #2196F3;
    border: 2px solid #2196F3;
    border-radius: 3px;
  }
  details {
    width: 30%;
    margin-bottom: 10px;
  }
  details {
    margin: 5px 0;
    margin-left: 450px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  