@media only screen and (max-width: 600px) {
    
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1{
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
summary{
    color: white;
    padding: 1px;
    background-color: #2196F3;
    border: 4px solid #2196F3;
    border-radius: 3px;
    padding-left: 10%;
    margin-left: 500px;
    margin-right: 500px;
 }
  span{
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 500px;
  }
  