html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem; 
    padding-top: 5%;
    color: rgba(17, 1, 1, 0.954);
    margin-bottom: -5;
  }
  .topnav { 
    overflow: hidden; 
    background-color: #0A1128;
  }
  
  body {  
    margin: 3%;
    background-color: black;
  }
  
  .content { 
    padding: 7%;
  }
  
  .card-grid { 
    max-width: 500px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 1.5rem; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .card {
     margin-top: -9%;
    background-color: white; 
    box-shadow: 4px 10px 19px 5px rgba(140,140,140,.5);
  }
  
  .card-title { 
    margin-top: -9%;
    font-size: 1rem;
    font-weight: bold;
    color: #034078
  }
  
  input[type=submit] {
    border: none;
    color: #FEFCFB;
    background-color: #034078;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    width: 90px;
    margin-right: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-top: 4%;
    }
  
  input[type=submit]:hover {
    background-color: #1282A2;
 
  }
  
  input[type=text], input[type=number], select {
    width: 100%;
    padding: 6px 6px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  label {
    font-size: 1.5rem; 
    text-align: left;
  }
  .value{
    font-size: 1.2rem;
    color: #1282A2;  
  }
  .state {
    font-size: 1.2rem;
    color: #1282A2;
  }
  button {
    border: none;
    color: #FEFCFB;
    padding: 11px 30px;
    text-align: center;
    font-size: 14px;
    width: 100px;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  .button-on {
    background-color: #034078;
  }
  .button-on:hover {
    background-color: #1282A2;
  }
  .button-off {
    background-color: #858585;
  }
  .button-off:hover {
    background-color: #252524;
  } 
  .right{
    text-align: right;
  }
  .th{
    text-align: center;
  }
