@media only screen and (max-width: 600px) {
    
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1{
  color: rgb(0, 4, 7);
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
summary{
    color: white;
    padding: 1px;
    background-color: #2196F3;
    border: 6px solid #eff2f5;
    border-radius: 3px;
    padding-left: 43%;
}
  span{
    background-color:#dfe7ec;
    border: 2PX #dfe7ec;
    margin: 0px 40px;
    padding: 3px 25px;
    color: black;
  }
  