@media only screen and (max-width: 600px) {
    
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1{
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
summary{
    color: white;
    padding: 8px;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 3px;
  }
  details {
    width: 30%;
    margin-bottom: 10px;
  }
  details {
    margin: 5px 0;
    margin-left: 450px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li1{
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #dfe7ec;
  border: 1px solid #c7d3df;
  border-radius: 3px;
  color: #545f69;
  position: relative;
  margin-left: 15px;
  position: relative;
}
li1 span {
  color: #041320;
}
li1::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 1px;
  height: calc(28px + 10px);
  background-color: #c7d3df;
}
li1:last-child::after {
  height: calc(28px / 2 + 5px);
}
li1::before {
  content: "";
  position: absolute;
  top: calc(28px / 2);
  left: -10px;
  width: 8px;
  height: 1px;
  background-color: #c7d3df;
}
li1[open]:not(:last-child)::after {
  height: calc(100% + 5px);
}